<mat-toolbar color="primary">
    <span>Mini School</span>
  <ul><a mat-button [routerLink]="['/']" routerLinkActive="router-link-active"> Register Student</a></ul>
  <ul><a mat-button [routerLink]="['/register-teacher']" routerLinkActive="router-link-active">Register Teacher</a></ul>
  <ul><a mat-button [routerLink]="['/register-course']" routerLinkActive="router-link-active">Register Course</a></ul>
  <ul><a mat-button [routerLink]="['/register-matter']" routerLinkActive="router-link-active"> Register Matter</a></ul>
</mat-toolbar>