<section class="bgComponent">
    <div class="form">
        <mat-card class="card">
            <mat-card-header>
                <h1>Registro de Cursos</h1>
            </mat-card-header>
            <mat-card-content>
                <div class="container-fluid">
                    <div class="container">
                        <mat-form-field appearance="fill">
                            <mat-label>Titulo</mat-label>
                            <input [(ngModel)]="course.title" matInput type="text" required/>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Materia</mat-label>
                            <input [(ngModel)]="course.matter" matInput type="text" required/>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Cupos</mat-label>
                            <input [(ngModel)]="course.quantity" matInput type="text" required/>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>fecha de incio</mat-label>
                            <input [(ngModel)]="course.date" matInput type="date" required/>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>fecha de finalizacion</mat-label>
                            <input [(ngModel)]="course.dateFin" matInput type="date" required/>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="register()" color="accent">Registrar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>